@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway Regular'),
       url(./Raleway-Regular.woff2) format('woff2'),
       url(./Raleway-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: local('Raleway ExtraBold'),
       url(./Raleway-ExtraBold.woff2) format('woff2'),
       url(./Raleway-ExtraBold.woff) format('woff');
  font-display: swap;
}
